:root {
  --custom-padding-title: 30px;
  --custom-padding-text: 30px;
  --custom-padding-block-small: 30px;
  --custom-padding-block-medium: 50px;
  --custom-padding-block-large: 70px;
  --custom-text-blue: #0072ce;
  --custom-text-blue-accent: #2d64e6;
  --custom-text-light: white;
  --custom-text-grey: #727272;
  --custom-text-dark: #1f1f1f;
  --custom-bg-dark: black;
  --custom-bg-dark-grey: #1f1f1f;
  --custom-bg-dark-blue: #161c3b;
  --custom-bg-blue: #00439c;
  --custom-bg-grey: #bebcbb;
  --custom-bg-light: white;
  --custom-btn-red: #cd3d0f;
  --custom-btn-blue: #2d64e6;
  --custom-btn-dark: #363636;
  --custom-btn-grey: #d9dadc;
  --custom-btn-light: #f5f5f5;
  --font-size-xl: 2.5rem;
  --font-size-l: 2.3rem;
  --font-size-md: 1.5rem;
  --font-size-sm: 1.3rem;
  --font-size-xs: 0.9rem;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
.logo-sony {
  max-width: 100px;
  display: inline-block;
  padding: 8px;
}
nav.custom-navbar .navbar-nav > .nav-item > .nav-link {
  color: var(--custom-text-dark);
  transition: color 0.3s;
}
nav.custom-navbar .navbar-nav > .nav-item:hover > .nav-link {
  color: var(--custom-text-blue-accent);
}
nav.custom-navbar .nav-link.custom-dropdown-toggle::after {
  content: url(../img/chevron-down-solid.svg);
  width: 10px;
  vertical-align: middle;
  display: inline-block;
  transition: transform 0.3s 0.3s;
}
nav.custom-navbar .nav-item:hover .nav-link.custom-dropdown-toggle::after {
  content: url(../img/chevron-down-solid-hover.svg);
}
nav.custom-navbar .custom-dropdown-toggle:focus::after {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

nav.custom-navbar .custom-dropdown {
  position: initial;
}

.custom-dropdown-menu {
  max-height: 0px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: all 0.3s 0.4s;
}
.custom-dropdown-menu .card {
  transition: border-color 0.3s;
  opacity: 0;
  transition: opacity 0.3s 0.2s;
}
.custom-dropdown-menu .card:hover {
  cursor: pointer;
  border-color: var(--custom-text-blue-accent);
}
.custom-dropdown-menu .nav-item {
  opacity: 0;
  transition: opacity 0.3s;
}
.custom-dropdown-toggle:focus ~ .custom-dropdown-menu {
  max-height: 500px;
  transition: all 0.3s;
}
.custom-dropdown-toggle:focus ~ .custom-dropdown-menu .card {
  opacity: 1;
  transition: opacity 0.3s 0.2s;
}
.custom-dropdown-toggle:focus ~ .custom-dropdown-menu .nav-item {
  opacity: 1;
  transition: opacity 0.3s 0.3s;
}

h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.3rem;
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 0.9rem;
}
.custom-hero-logo {
  padding-bottom: var(--custom-padding-title);
  display: inline;
}
.custom-title {
  margin-bottom: var(--custom-padding-title);
  color: var(--custom-text-dark);
}
.custom-super {
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: var(--custom-text-blue);
}
.custom-text {
  margin-bottom: var(--custom-padding-text);
}
.custom-text-small {
  font-size: var(--font-size-xs);
}
.custom-subtitle {
  font-size: var(--font-size-sm);
  color: var(--custom-text-grey);
}
.custom-subtitle-big {
  font-size: var(--font-size-md);
}

.custom-block-small {
  padding-top: var(--custom-padding-block-small);
  padding-bottom: var(--custom-padding-block-small);
}
.custom-block-medium {
  padding-top: var(--custom-padding-block-medium);
  padding-bottom: var(--custom-padding-block-medium);
}
.custom-block-large {
  padding-top: var(--custom-padding-block-large);
  padding-bottom: var(--custom-padding-block-large);
}

.custom-hero {
  position: relative;
}

.custom-hero-section {
  color: white;
}
.custom-hero-section-absolute {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.custom-hero-image {
  min-height: 600px;
  object-fit: cover;
  object-position: top;
}

.custom-hero-selector-card {
  width: 100%;
  border: 2px solid transparent;
  border-radius: 25px;
  overflow: hidden;
  padding: 3px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.custom-hero-selector-card:hover {
  transform: translateY(-10px);
}
.custom-hero-selector-card:active {
  animation: selection-animation 1s;
}
.custom-hero-selector-card-active {
  border: 2px solid var(--custom-text-blue);
}

.custom-border-radius {
  border-radius: 20px;
}

.custom-hero-section-takestwo {
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  background-position: top;
  background-size: cover;
  position: relative;
}

.custom-selector {
  height: 100%;
  text-align: center;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
  color: var(--custom-text-grey);
  cursor: pointer;
}
.custom-selector-image {
  opacity: 0.5;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}
.custom-selector > p {
  transition: color 0.3s;
}
.custom-selector-active {
  border-bottom-color: var(--custom-text-blue);
  color: var(--custom-text-dark);
}
.custom-selector-active > .custom-selector-image {
  opacity: 1;
}

.custom-selector:hover {
  color: var(--custom-text-dark);
}
.custom-selector:hover > .custom-selector-image {
  opacity: 1;
}
.custom-selector-active:hover {
  border-bottom-color: var(--custom-text-blue);
}

.custom-btn {
  position: relative;
  transition: opacity 0.3s;
}
.custom-btn::before {
  content: "";
  border: 2px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 50rem;
  transform: scale(0.99);
  transition: border-color 0.3s ease-in-out;
}
.custom-btn:hover {
  opacity: 0.85;
  color: var(--custom-text-light);
}
.custom-btn:hover::before {
  border-color: white;
}
.custom-blue-btn {
  color: var(--custom-text-light);
  background-color: var(--custom-btn-blue);
}
.custom-dark-btn {
  color: var(--custom-text-light);
  background-color: var(--custom-btn-dark);
}
.custom-grey-btn {
  color: var(--custom-text-blue-accent);
  background-color: var(--custom-btn-grey);
}
.custom-grey-btn:hover {
  color: var(--custom-text-blue-accent);
}
.custom-grey-dark-btn {
  color: var(--custom-bg-dark-blue);
}
.custom-grey-dark-btn:hover {
  color: var(--custom-bg-dark-blue);
}
.custom-grey-dark-btn:hover::before {
  border-color: var(--custom-bg-dark-blue);
}
.custom-red-btn {
  background-color: var(--custom-btn-red);
  color: var(--custom-text-light);
}

.custom-red-btn:hover::before {
  border-color: var(--custom-text-dark);
}
.custom-bg-dark-grey {
  background-color: var(--custom-bg-dark-grey);
}
.custom-bg-dark-blue {
  background-color: var(--custom-bg-dark-blue);
}
.custom-bg-grey {
  background-color: var(--custom-bg-grey);
}
.custom-bg-blue {
  background-color: var(--custom-bg-blue);
  color: var(--custom-text-light);
}
.social-link-img {
  transition: all 0.3s;
}
.social-link-img:hover {
  box-shadow: 0px 5px 20px grey, -0px -5px 20px grey;
}
.custom-footer-list {
  list-style: none;
}
.custom-footer-list-link {
  color: var(--custom-text-light);
  padding-top: 8px;
  display: inline-block;
  text-decoration: none;
  font-size: var(--font-size-xs);
}
.custom-footer-list-link:hover {
  color: var(--custom-text-light);
  text-decoration: underline;
}
.custom-footer-link {
  color: var(--custom-text-light);
}
.custom-footer-svg {
  filter: brightness(0) invert(1);
  width: 100px;
}
.custom-footer-svg-sea {
  width: 150px;
}
.custom-footer-language-logo {
  width: 15px;
  margin-right: 10px;
}

@keyframes selection-animation {
  0% {
    transform: translateY(-10px);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
