.logo-sony {
  max-width: 100px;
  display: inline-block;
  padding: 8px;
}

/* nav.custom-navbar .navbar-nav .nav-item {
  padding-left: 8px;
  padding-right: 8px;
} */

.custom-block-small {
  padding: 30px 0px;
}
.custom-block-medium {
  padding: 50px 0;
}
.custom-block-large {
  padding: 70px 0;
}

.custom-hero-section {
  background-position: center;
  background-size: cover;
  min-height: 500px;
  color: white;
}
.custom-hero-section-returnal {
  background-image: url("../img/jumbo-bg.png");
}
.custom-hero-section-takestwo {
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

.custom-selector {
  text-align: center;
  border-bottom: 2px solid transparent;
}
.custom-selector:hover {
  border-bottom-color: blue;
}
